ul {
  list-style: disc;
  padding-left: 15px;

  li {
    span {
      width: 200px;
    }
  }
}

th {
  &:first-child {
    width: 200px;
  }
}

td code {
  --i-background-color: initial;
  padding: 0px;
}