@layer components {
  :host {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: var(--i-color-gray-50);
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .docs-sidebar {
      display: flex;
      flex: 0 0 var(--i-sidebar-width);
      flex-direction: column;
      transform: translate(0);
      transition:
        transform 0.25s ease,
        flex-basis 0.25s ease;
      border-right: var(--i-border);
      min-width: 0;

      .docs-sidebar-header {
        --i-background-color: var(--i-color-white);
        display: flex;
        flex: 0 0 var(--i-header-height);
        flex-direction: row;
        align-items: center;
        gap: 8px;
        border-bottom: var(--i-border);
        padding: 0px var(--i-spacing-md);
      }

      .docs-sidebar-body {
        display: flex;
        flex: 1;
        flex-direction: column;
        & > ul {
          display: flex;
          flex-direction: column;
          gap: var(--i-spacing-md);
          margin: 0;
          padding: var(--i-spacing-sm) var(--i-spacing-xs);
          /* list-style: disc; */
          li {
            display: flex;
            flex-direction: column;
            padding: 0px;

            & > small {
              padding: 0 var(--i-spacing-xs) var(--i-spacing-4xs);
              color: var(--i-color-gray-400);
              font-size: var(--i-text-sm);
              font-family: var(--i-font-heading);
            }

            a {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: var(--i-spacing-3xs);
              cursor: pointer;
              margin: var(--i-spacing-7xs) 0px;
              border-radius: var(--i-radius-md);
              padding: var(--i-spacing-3xs) var(--i-spacing-xs);
              text-decoration: none;

              i,
              h6 {
                color: var(--i-color-gray-600);
              }

              h6 {
                flex: 1 1 100%;
                font-size: var(--i-text-sm);
                font-family: var(--i-font-heading);
              }

              &.is-selected {
                background-color: var(--i-color-blue-50);
                color: var(--i-color-blue-900);
              }

              &.is-selected h6 {
                font-weight: 600;
              }

              &:hover {
                background-color: var(--i-color-gray-100);

                i,
                h6 {
                  color: var(--i-color-gray-800);
                }
              }
            }

            > ul {
              display: flex;
              flex-direction: column;
              margin: 0px;
              padding: 0px;
              /* list-style: disc; */

              &.expanded {
                display: flex;
                border-radius: var(--i-radius-md);
                background-color: var(--i-color-gray-100);
              }

              &.collapsed {
                display: none;
              }
            }
          }
        }
      }

      .docs-sidebar-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: var(--i-border);
        background-color: var(--i-color-gray-100);
        padding: var(--i-spacing-xs) var(--i-spacing-sm);
      }
    }

    .docs-content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      min-width: 0;

      .docs-content-header {
        --i-background-color: var(--i-color-white);
        display: flex;
        flex: 0 0 var(--i-header-height);
        flex-direction: row;
        align-items: center;
        gap: var(--i-spacing-xs);
        border-bottom: var(--i-border);
        padding: 0px var(--i-padding-lg);
        h1 {
          font-size: var(--i-text-lg);
        }
      }

      .docs-content-body {
        flex: 1 1 100%;
        gap: var(--i-gap-md);
        padding: var(--i-padding-lg);
        width: 100%;
      }
    }
    /*

    .docs-header {
      display: flex;
      flex-direction: row;
      height: 60px;
      flex: 0 0 60px;
      justify-content: start;
      align-items: center;
      border-bottom: var(--i-border-subtle);
    }

    .docs-body {
      display: flex;
      flex-direction: row;
      flex: 1 1 0%;
      overflow: hidden;

      .docs-sidebar {
        display: flex;
        flex-direction: column;
        width: 300px;
      }

      .docs-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
      }
    } */
  }
}
